<header class="title_header">Reset Password</header>
<form class="forgot-form" [formGroup]="forgotForm">
    <h1 class="signup-title">Enter New Password</h1>
<mat-form-field class="user-prompt" appearance="fill">
    <mat-label>User Name</mat-label>
    <input matInput placeholder="Enter your name" name="username" [(ngModel)]="username" formControlName="userControl">
    <mat-error class="usererror" *ngIf="forgotForm.get('userControl')?.hasError('required')">You must enter a value</mat-error>
  </mat-form-field>

  <mat-form-field class="phone-prompt" appearance="fill">
    <mat-label>Phone Number</mat-label>
    <mat-icon matSuffix>phone</mat-icon>
    <input matInput placeholder="Phone Number" value="" name="phone" type="phone" [(ngModel)]="phone" formControlName="phoneControl">
    <mat-error *ngIf="forgotForm.get('phoneControl')?.hasError('required')">You must enter a value</mat-error>
    <mat-error *ngIf="forgotForm.get('phoneControl')?.hasError('pattern')">Invalid Number</mat-error>
  </mat-form-field>

  <mat-form-field class="password-prompt" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter your password" value="" name="password" type="password" [(ngModel)]="password" formControlName="passwordControl" >
    <mat-error class="pwerror" *ngIf="forgotForm.get('passwordControl')?.hasError('required')">You must enter a value</mat-error>
  </mat-form-field>
  <button class="forgot-button" mat-raised-button color="primary" (click)="submit()" disabled = "{{submissionNotReady()}}">Submit</button>
  <span class="success-message" *ngIf="isSuccess"> <button mat-button color="primary">Password successfully reset</button></span>
  <span class="fail-message" *ngIf="isError"> <button mat-button color="primary">Password reset failed!</button></span>
  <p class="login_return"><a [routerLink]="['']">Back to Login</a></p>
</form>