<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="TableFilteringExample">


    <!-- Position Column -->
    <ng-container matColumnDef="Alarm_ID">
      <th mat-header-cell *matHeaderCellDef> Alarm ID </th>
      <td mat-cell *matCellDef="let element" class="users"> {{element.Alarm_ID}} </td>
    </ng-container>

    
    <!-- Name Column -->
  
    <ng-container matColumnDef="days.sunday">
      <th mat-header-cell *matHeaderCellDef> Sunday </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="!isRowBeingEdited">{{ element.days.sunday }}</span>
        <input *ngIf="isRowBeingEdited" type="text" [(ngModel)]="element.days.sunday">
      </td>
    </ng-container>

    <ng-container matColumnDef="days.monday">
      <th mat-header-cell *matHeaderCellDef> Monday </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="!isRowBeingEdited">{{ element.days.monday }}</span>
        <input *ngIf="isRowBeingEdited" type="text" [(ngModel)]="element.days.monday">
      </td>
    </ng-container>

    <ng-container matColumnDef="days.tuesday">
      <th mat-header-cell *matHeaderCellDef> Tuesday </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="!isRowBeingEdited">{{ element.days.tuesday}}</span>
        <input *ngIf="isRowBeingEdited" type="text" [(ngModel)]="element.alarms.tuesday">
      </td>
    </ng-container>

    <ng-container matColumnDef="days.wednesday">
      <th mat-header-cell *matHeaderCellDef> Wednesday </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="!isRowBeingEdited">{{ element.days.wednesday}}</span>
        <input *ngIf="isRowBeingEdited" type="text" [(ngModel)]="element.days.wednesday">
      </td>
    </ng-container>

    <ng-container matColumnDef="days.thursday">
      <th mat-header-cell *matHeaderCellDef> Thursday </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="!isRowBeingEdited">{{ element.days.thursday}}</span>
        <input *ngIf="isRowBeingEdited" type="text" [(ngModel)]="element.days.thursday">
      </td>
    </ng-container>

    <ng-container matColumnDef="days.friday">
      <th mat-header-cell *matHeaderCellDef> Friday </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="!isRowBeingEdited">{{ element.days.friday}}</span>
        <input *ngIf="isRowBeingEdited" type="text" [(ngModel)]="element.days.friday">
      </td>
    </ng-container>

    <ng-container matColumnDef="days.saturday">
      <th mat-header-cell *matHeaderCellDef> Saturday </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="!isRowBeingEdited">{{ element.days.saturday}}</span>
        <input *ngIf="isRowBeingEdited" type="text" [(ngModel)]="element.days.saturday">
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> ime</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="!isRowBeingEdited">{{ element.time}}</span>
        <input *ngIf="isRowBeingEdited" type="text" [(ngModel)]="element.time">
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary"  (click)="deleteAlarm(element.Alarm_ID)">
          <mat-icon> delete </mat-icon>
        </button>
      </td>
    </ng-container>


    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="startEditingRow(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
  </div>

  <button mat-raised-button color="primary" 
  (click)="isRowBeingEdited = false"
  
  (click)="updateAlarm">Save</button>



  

