<header class="home-header">Hello, /user/</header>
<mat-tab-group class="selection" animationDuration="0ms" mat-stretch-tabs="false" dynamicHeight="true">
  <mat-tab label="Your Stats">
    <mat-progress-bar mode="determinate" value="40" class="percentage-correct">
    </mat-progress-bar>

    <p class="percentage-text">40% Correct</p>


  </mat-tab>
  <mat-tab label="Create Alarms">
    <app-alarm class="alarm"></app-alarm>
  </mat-tab>

  <mat-tab label="Your Alarms">
    <app-useralarm class="useralarms"></app-useralarm>
  </mat-tab>

  <mat-tab label="Your Alarm Test">
    <table-basic-example class="useralarms"></table-basic-example>
  </mat-tab>


 <mat-tab label="Customize Questions">Content 3</mat-tab>
</mat-tab-group>
