<h2>Edit Alarm</h2>


<div >
  <form>
    <mat-form-field>
      <input matInput  name="Time" placeholder="Time">
    </mat-form-field>
    <mat-form-field>
      <input matInput name="Sunday" placeholder="Sunday">
    </mat-form-field>
    <mat-form-field>
      <input matInput name="Monday" placeholder="Monday">
    </mat-form-field>
    <mat-form-field>
      <input matInput  name="Tuesday" placeholder="Tuesday">
    </mat-form-field>
    <mat-form-field>
      <input matInput name="Wednesday" placeholder="Wednesday">
    </mat-form-field>
    <mat-form-field>
      <input matInput  name="Thursday" placeholder="Thursday">
    </mat-form-field>
    <mat-form-field>
      <input matInput  name="Friday" placeholder="Friday">
    </mat-form-field>
    <mat-form-field>
      <input matInput name="Saturday" placeholder="Saturday">
    </mat-form-field>
    <button mat-raised-button color="primary"> Update Alarm</button>
  </form>
</div>