<table #myTable mat-table [dataSource]="dataSource" class="mat-elevation-z8">


  <!-- Position Column -->
  <ng-container matColumnDef="Alarm_ID">
    <th mat-header-cell *matHeaderCellDef>Alarm ID</th>
    <td mat-cell *matCellDef="let element"> {{element.Alarm_ID}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Time">
    <th mat-header-cell *matHeaderCellDef>Time</th>
    <td mat-cell *matCellDef="let element"> {{element.Time}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Days">
    <th mat-header-cell *matHeaderCellDef> Days </th>
    <td mat-cell *matCellDef="let element"> {{element.Days}} </td>
  </ng-container>

  <!--
  <ng-container matColumnDef="edit">
		<th mat-header-cell *matHeaderCellDef> Edit</th>
		<td mat-cell *matCellDef="let item">
			<button mat-mini-fab color="primary" (click)="delete(item)">
        <mat-icon>edit</mat-icon>
      </button>
		</td>
	</ng-container>
-->

  <ng-container matColumnDef="delete">
		<th mat-header-cell *matHeaderCellDef> Delete</th>
		<td mat-cell *matCellDef="let item">
			<button mat-mini-fab color="primary" (click)="deleteAlarm(item)">
        <mat-icon>delete</mat-icon>
      </button>
		</td>
	</ng-container> 

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>
