
html, body {
  height: 100%;

}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('/assets/background.jpg');
}
.login-form {
  width: 300px;
  height : 300px;
  padding: 32px;
  background-color: white;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
  justify-content : center;
  align-items : center;
  position : absolute;
  left : 40% ;
  top : 25% ;

}
.login-title {
    position : relative;
    left : 35%;
    font-size : 40px;

}

.user-prompt {
  width : 100%;

}
.password-prompt {
  width : 100%;



}
.login-button {
  position: relative;
  top: 0%;
  
}

.success-message {
  position: relative;
  top: 0%;
  
}
.fail-message {
  position: relative;
  top: 15%;
  right: 30%;
  color: red;
}
.signup_redirect {
    position:relative;
    top: 10%;
}
.signup_redirect a{
    text-decoration: none;
    color : grey;
}
.signup_redirect a:hover{
    text-decoration: underline;
}
.signup_redirect a:active {
    text-decoration: underline;
  }

