<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>User Name</mat-label>
    <input matInput placeholder="Enter your name" name="usename"
           [(ngModel)]="username">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter your password" value="" name="password" type="password" [(ngModel)]="password">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="submit()">Submit</button>
  <span *ngIf="show"> <button mat-button color="accent">Login successful</button></span>
</form>
