<app-title></app-title>
<form class="login-form">
  <h1 class="login-title">Login</h1>
  <mat-form-field class="user-prompt" appearance="fill">
    <mat-label>User Name</mat-label>
    <input matInput placeholder="Enter your name" name="usename"
           [(ngModel)]="username">
  </mat-form-field>
  <mat-form-field class="password-prompt" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter your password" value="" name="password" type="password" [(ngModel)]="password">
  </mat-form-field>
  <button class="login-button" [routerLink] ="[{ outlets: { home: ['home'] } }]" mat-raised-button color="primary" (click)="submit()">Submit</button>
  <span class="success-message" *ngIf="show"> <button mat-button color="primary">Login successful</button></span>
  <span class="fail-message" *ngif="show"> <button mat-button color="red">Username or Password are incorrect</button></span>
  <p class="signup_redirect"><a [routerLink]="[{ outlets: { signup: ['signup'] } }]">New to Telesnooze? Sign up here.</a></p>
</form>
