
<section class="alarmdaysactive" [formGroup]="activealarm">
    <p class="prompt">Select when you would like your alarm to be active:</p>
    <p><mat-checkbox formControlName="sunday">Sunday</mat-checkbox></p>
    <p><mat-checkbox formControlName="monday">Monday</mat-checkbox></p>
    <p><mat-checkbox formControlName="tuesday">Tuesday</mat-checkbox></p>
    <p><mat-checkbox formControlName="wednesday">Wednesday</mat-checkbox></p>
    <p><mat-checkbox formControlName="thursday">Thursday</mat-checkbox></p>
    <p><mat-checkbox formControlName="friday">Friday</mat-checkbox></p>
    <p><mat-checkbox formControlName="saturday">Saturday</mat-checkbox></p>
  </section>

<mat-form-field>
   <mat-label>Time</mat-label>
  <input
    matInput
    aria-label="default time"
    [ngxTimepicker]="defaultValue"
    [value]="'0:00 am'"
    [(ngModel)]="time"
  />
  <ngx-material-timepicker #defaultValue>
  </ngx-material-timepicker>
</mat-form-field>






